<p id="notice"><%= notice %></p>

<p>
  <strong>Nombre:</strong>
  <%= @community.nombre %>
</p>

<p>
  <strong>Ciudad:</strong>
  <%= @community.ciudad %>
</p>

<p>
  <strong>Comuna:</strong>
  <%= @community.comuna %>
</p>

<p>
  <strong>Region:</strong>
  <%= @community.region %>
</p>

<p>
  <strong>Pais:</strong>
  <%= @community.pais %>
</p>

<p>
  <strong>Direccion:</strong>
  <%= @community.direccion %>
</p>

<p>
  <strong>Telefono1:</strong>
  <%= @community.telefono1 %>
</p>

<p>
  <strong>Telefono2:</strong>
  <%= @community.telefono2 %>
</p>

<p>
  <strong>Imagen:</strong>
  <%= @community.imagen %>
</p>

<p>
  <strong>Logo:</strong>
  <%= @community.logo %>
</p>

<p>
  <strong>Rut:</strong>
  <%= @community.rut %>
</p>

<p>
  <strong>Fecha constitution:</strong>
  <%= @community.fecha_constitution %>
</p>

<p>
  <strong>Email:</strong>
  <%= @community.email %>
</p>

<%= link_to 'Edit', edit_community_path(@community) %> |
<%= link_to 'Back', communities_path %>
